.banner {
    height: 65vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.banner .banner__content {
   
    position: relative;
    z-index: 1;  
}

.banner .banner__image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-image: url(../img/foto-grande-banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media  (min-width: 48em) {
    .banner .banner__image {
        background-image: url(../img/foto-mediano-banner.png) !important;
    }
}
