:root {
    --main-text-color: rgb(220, 191, 142);
    --main-text-color-btn: rgb(255, 255, 255);
    --main-bg-color: rgba(41, 51, 64, .95);
    --main-brand-color: #0299d0;
    --main-brand-color-light: #0299d0;
    --main-brand-color-border-light: #151414;
    font-size: 13px;
    font-family: sans-serif;
    /* background: rgba(255, 122, 89, .5); */
}

.main-bg {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
}


