.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-brand-color);
    
    /* transition: background-color 2s; */
}

@media (hover: hover) {
    .btn{
    transition: background-color .3s linear;
    }
    .btn:hover{
    background-color: var(--main-brand-color-light);
    }
}

