.footer {

    font-style: italic;
    padding-top: 10px;
    padding: 50px 10px 10px 10px;
    padding: 20px 0;
    padding: 10px;
    font-size: 12px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(0, 0, 1) 0%, rgb(0, 182, 185) 100%);
    /* width: 100%; */



}

.footer p {

    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-style: normal;

}


.footer .icon__redes {
    width: 30px;
}

.footer .footer__list .footer__list__icon{
    gap: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center !important;
}
.footer__list{
       display: flex;
       gap: 20px;

}

.footer__list .footer__list__icon{
    align-items: center;

}

@media (max-width: 26.563rem) {
    .footer__list {
        display: grid;
        gap: 10px;
    }
    .footer .icon__redes {
        width: 20px;
        align-items: center;
        display: flex;
        /* gap: 20px; */
    }
   
  
}
@media (max-width: 48rem) {

    .footer .icon__redes {
    width: 20px;
    }   

    .footer p {
        font-size: .7rem;
    }
}

@media (max-width: 26.563rem) {
    .footer p {
        font-size: 1rem;
    }
   .footer {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(34, 34, 118) 0%, rgb(1, 34, 35) 100%);
   }
  
}